[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
python-dotenv = "*"
requests = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
google-api-python-client = "*"
openai = "*"
pinecone-client = "*"
langchain = "*"
langchain-community = "*"
langchain-core = "*"
boto3 = "*"
langchain-pinecone = "*"

[dev-packages]

[requires]
python_version = "3.12"
